.formWidth {
  max-width: 18rem;
  justify-content: center;
  padding: 1.5rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  border: 2px solid #919191;
  border-radius: 25px;
}

.formWidth label {
  color: #525252;
}