.form {
  background-color: #c7a688;
  max-width: 25rem;
  justify-content: center;
  padding: 1.5rem;
  margin: 3rem auto;
  border: 1px solid #aa8869;
  border-radius: 3%;
  box-shadow: 7px 7px 5px #505050;
}

.form label {
  color: #25180c;
}

@media (max-width: 425px)  {
  .form {  
    width: 24.5rem;
  }
}

@media (max-width: 375px)  {
  .form {  
    width: 21rem;
  }
}

@media (max-width: 320px)  {
  .form {  
    width: 18rem;
  }
}