.bg_footer_margin_out {
  background-color: #373737;
}

.border_footer_top {
  border-top: 1px solid #DCD0C0;
  padding-bottom: 2rem;
}

.bg_footer {
  background-color: #373737;
  color: #DCD0C0;
  padding-top: 3rem;
}

.iconTechnology i {
  font-size: 4rem;
  padding-right: .4rem;
}

.list ul, a {
  list-style: none;
  text-decoration: none;
  color: inherit;
  padding-left: 0;
}

.list a:hover {
  /* color: inherit; sem cor (inherit = herdado) */
  color: #C0B283;
  font-weight: bold;
} 

.address p {
  font-size: 1rem;
}

.address i {
  font-size: 1.5rem;
}

.iconSocialMedia i {
  font-size: 2.5rem;
}

.copyrigth p {
  margin-top: 2rem;
  text-align: center;
}

/* Media Queries */
@media screen and (max-width: 1000px) {
  .iconTechnology i {  
    font-size: 2.5rem;
  }

  .iconTechnology, .list {
    width: 50%;
    text-align: start;
  }

  .list {
    margin-bottom: 2rem;
  }
  
  .address {  
    width: 100%;
    text-align: start;
    margin: 2rem 0 2rem 0;
  }
}

@media screen and (max-width: 800px) {
  .iconTechnology, .list, .address {  
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
  }
}
