.bg {
  background:#ac5f25;
}

/* Afastar o logo do título e igualar o logo 8px em relação ao menu direito */
.brand a {
  padding-left: .5rem;
  color: #fdfdfd;
}

.menuAdjust a {
  color: #fdfdfd;
  font-weight: bold;
}

/* color: inherit; sem cor (inherit = herdado) */
.brand a:hover {
  color: #f6cd90;
} 

.menuAdjust {
  padding-right: 0;
}

.menuAdjust a:hover {
  color: #f6cd90;
} 

.dropdown a {
  color: /* #f6cd90 */ #343434;
}  

/* muda a cor ao passar o mouse */
.dropdown a:hover {
  background-color: #be9d7e;
}  

/* muda a cor ao clicar */
.dropdown a:active {
  background: #58412b;
  color: #f6cd90;
} 
